body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .topbar {
    background-color: #f4f4f4;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }   

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img {
        width: 100px;
        height: 100px;
    }

    a{
        color: black;
        text-decoration: none;
        font-size: 24px;
    }
  
  .config-container {
    max-width: 600px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .profile-image {
    display: inline-block;
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }

  .users-table--edit{
    background: #0015d3;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

