
.logo{
    margin-top: 40px;
    width: 200px;
    height: 80px;
}

.logo img{
    width: 110px;
    height: 110px;
}

.users-table--edit{
    background: #16e020;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.users-table--delete{
    background: #b11e1e;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.catfresco {
    background: #05e3be;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;
    display: inline-block;
    
    }
    .catseco{
        background: #c2b7f2;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;
        display: inline-block;
    
    }
    .catpanaderia {
        background: #C9F2B7;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;
        display: inline-block;
    }
    .catenlatado {
        background: #f9bd93;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;
        display: inline-block;
    }
    .catproteina {
        background: #fbf4136b;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;   
        display: inline-block;
    }
    .catcongelado {
        background: #5a5c698c;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;  
        display: inline-block;
    }
    .catbebida {
        background: #7f8bb9;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;  
        display: inline-block;
    }
    .catdesechable {
        background: #b7ccf2;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;   
        display: inline-block;
    
    }
    .cathigiene {
        background: #eff2b7;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;  
        display: inline-block;
    }
    .catbutensilios {
        background: #D06262;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;  
        display: inline-block;
    }
    .catnoalimentario {
        background: #CD82BB;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;  
        display: inline-block;
    }
    .soon 
    {
        background: #eff2b7;
        color: #5a5c69;
        font-weight: bold;
        padding: 15px;
        border: 2px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 97%;
        margin: 20px; 
        display: inline-block;
    }
    /* colores para tabla */
    .fresco {
        font-weight: bold; padding: 15px; border-left:20px solid #05e3be;
    }
    .cocina {
        font-weight: bold; padding: 15px; border-left:20px solid #c2b7f2;
    }
    .farmaceutico {
        font-weight: bold; padding: 15px; border-left:20px solid #C9F2B7;
    }
    .mascotas {
        font-weight: bold; padding: 15px; border-left:20px solid #fbf4136b; 
    }
    .jugueteria {
        font-weight: bold; padding: 15px; border-left:20px solid #f9bd93;
    }
    .automovilstico {
        font-weight: bold; padding: 15px; border-left:20px solid #5a5c698c;
    }
    .vestimenta {
        font-weight: bold; padding: 15px; border-left:20px solid #7f8bb9;
    }
    .telefonia {
        font-weight: bold; padding: 15px; border-left:20px solid #b7ccf2;
    }
    .deportes {
        font-weight: bold; padding: 15px; border-left:20px solid #eff2b7;
    }
    .higiene{
        font-weight: bold; padding: 15px; border-left:20px solid #D06262;
    }
